/* WEBKIT STYLES */
::-webkit-scrollbar {
  display: none;
}

/* VARIABLES */
:root {
  /* COLOR */
  --theme-dark-gray: #747474;
  --theme-gray: #c8c8ca;
  --theme-light-gray: #f1f2f1;
  --theme-white: #fff;
  --theme-black: #000;

  /* SIZE */
  --header-height: 3rem;
  --footer-height: 3rem;
  --num-pad-size: 4rem;
  --blocker-icon-size: 10rem;

  /* FONT */
  --header-font-size: 1rem;
  --input-font-size: 1rem;
  --default-font-size: 1rem;
  --small-font-size: 0.625rem;
  --medium-font-size: 0.8rem;
  --num-pad-font-size: 1.6rem;

  /* FONT COLOR */
  --font-color-default: #747474;
  --font-color-white: #fff;
  --font-color-black: #000;

  /* SPACING */
  --wide-space: 2rem;
  --midium-space: 1.25rem;
  --default-space: 0.625rem;
  --small-space: 0.4rem;
  --list-item-margin: 5px;
  --sidebar-padding-vertical: 1rem;
  --sidebar-padding-horizontal: 1.5rem;

  /* BORDER RADIUS */
  --default-border-radius: 5px;
  --deep-border-radius: 10px;
}

/* COMMON STYLES */
* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input {
  outline: none;
  font-size: var(--input-font-size);
  -webkit-user-select: auto !important;
  user-select: auto !important;  
}

input[type="time"] {
  -webkit-user-select: none !important;
  user-select: none !important;
}

textarea {
  border: 1px solid var(--theme-gray);
  resize: none;
  outline: none;
  background-color: var(--theme-white);
  padding: var(--default-space);
  margin: var(--default-space);
  border-radius: var(--default-border-radius);
  font-size: var(--input-font-size);
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: auto !important;
  user-select: auto !important;
}

/* LAYOUT */
@font-face {
  font-family: "NotoSans-Regular";
  src: url("../assets/fonts/NotoSans-Regular.ttf");
}

html {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  touch-action: manipulation;
}

body {
  font-family: "NotoSans-Regular";
  padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)
    env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  background-color: var(--main-theme-color);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  display: grid;
  height: 30px;
  width: 54px;
  margin: 0;
  border-radius: 15px;
  border: 1px solid var(--theme-gray);
  background-color: var(--theme-white);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="checkbox"]:disabled {
  background-color: rgba(1, 1, 1, 0.1);
}

input[type="checkbox"]:before {
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 15px;
  border: 1px solid var(--theme-gray);
  background-color: var(--theme-white);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="checkbox"]:checked {
  background-color: var(--main-theme-light);
}

input[type="checkbox"]:checked:disabled {
  background-color: rgba(1, 1, 1, 0.1);
}

input[type="checkbox"]:checked:before {
  margin-left: 24px;
}

input[type="time"] {
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

#hidden-datepicker {
  -webkit-appearance: none;
  border: 0;
  color: transparent;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}

#container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

#side-bar,
#side-bar #side-bar-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#side-bar #side-bar-content-container {
  display: flex;
  flex-direction: column;
  z-index: 11;
  height: 100%;
  float: right;
  position: absolute;
  background-color: var(--main-theme-color);
  width: 17.5rem;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

#side-bar[toggle] #side-bar-content-container {
  right: 0;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes side-bar-open {
  from {
    right: -18.75rem;
  }
  to {
    right: 0;
  }
}

@keyframes side-bar-close {
  from {
    right: 0;
  }
  to {
    right: -18.75rem;
  }
}

#side-bar[toggle] #side-bar-content-container div.menu-item {
  padding: var(--sidebar-padding-vertical) var(--sidebar-padding-horizontal);
  color: var(--theme-white);
  flex: 1;
}

#side-bar[toggle] #side-bar-content-container div#contact-info-container {
  padding: var(--sidebar-padding-vertical) var(--sidebar-padding-horizontal);
  display: flex;
}
#side-bar[toggle]
  #side-bar-content-container
  div#contact-info-container
  a.email-card {
  flex: 1;
  color: var(--theme-white);
  text-align: right;
  font-size: var(--medium-font-size);
  text-decoration: none;
}

#content {
  height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--theme-light-gray);
}

#header {
  height: var(--header-height);
  background-color: var(--main-theme-color);
  display: grid;
  grid-template-columns: 3.75rem 1fr 3.75rem;
  z-index: 2;
}

#header #header-left,
#header #header-right {
  display: flex;
}

#header #header-center {
  display: flex;
}

#header #header-left #search-btn {
  margin: auto;
  height: 1.25rem;
  padding: 0.5rem;
}

#header #header-center span {
  margin: auto;
  color: var(--theme-white);
  font-size: var(--header-font-size);
  letter-spacing: 2px;
}

#header #header-center span#month-display:active {
  color: var(--theme-light-gray);
}

#header #header-center #search-input {
  flex: 1;
  padding: 5px 10px;
  border: 0;
  border-radius: 20px;
  margin: auto;
}

#header #header-right #search-close-btn {
  margin: auto;
  height: 1.6rem;
  padding: 0.5rem;
}

#header #header-right #menu-btn {
  margin: auto;
  height: 1rem;
  padding: 0.5rem;
}

#header #header-right #weather-icon {
  margin: auto;
  height: 1.25rem;
}

#footer {
  height: var(--footer-height);
  background-color: var(--main-theme-color);
  display: flex;
  flex-direction: row-reverse;
  z-index: 2;
}

#footer img {
  margin: auto var(--default-space);
  height: 1.6rem;
}

div#toast-btn-modal[active] {
  background-color: rgba(1, 1, 1, 0.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div#toast-btn-modal {
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div#toast-btn-container {
  left: 0;
  right: 0;
  bottom: -100%;
  text-align: center;
  border: 1px solid var(--theme-gray);
  border-radius: var(--deep-border-radius);
  margin: var(--default-space);
  background-color: var(--theme-white);
  animation-name: toast-down;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

div#toast-btn-container[active] {
  animation-name: toast-up;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes toast-up {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes toast-down {
  from {
    bottom: 0;
  }
  to {
    bottom: -100%;
  }
}

div#toast-btn-container div#toast-btn-message {
  color: var(--theme-dark-gray);
  padding: var(--default-space);
  border-bottom: 1px solid var(--theme-gray);
}

div#toast-btn-container div.toast-btn[type="positive"] {
  color: var(--theme-dark-gray);
  padding: var(--default-space);
  border-bottom: 1px solid var(--theme-gray);
}

div#toast-btn-container div.toast-btn[type="negative"] {
  padding: var(--default-space);
  border-bottom: 1px solid var(--theme-gray);
  color: var(--main-theme-color);
}

div#toast-btn-container div.toast-btn[type="positive"]:active {
  background-color: var(--theme-gray);
  color: var(--theme-white);
}

div#toast-btn-container div.toast-btn[type="negative"]:active {
  background-color: var(--main-theme-color);
  color: var(--theme-white);
}

div#blocker {
  background: linear-gradient(
    to bottom,
    var(--main-theme-color) 0%,
    var(--main-theme-deep-dark) 70%
  );
  display: flex;
  flex-direction: column;
}

div#blocker span#blocker-msg {
  margin: 4rem auto;
  color: var(--theme-white);
  font-size: var(--medium-font-size);
  text-align: center;
  font-weight: bold;
}

div#blocker object#blocker-icon {
  margin: 16rem auto;
  height: var(--blocker-icon-size);
}
