div#setting-view {
  flex: 1;
  overflow-y: auto;
  height: 100%;
}

div#setting-view-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--main-theme-color);
  color: var(--font-color-default);
}

div#setting-logo-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 30vh;
}

img#setting-logo-img {
  flex: 1;
  height: 6.4rem;
  margin: auto;
}

span.info-txt {
  color: var(--theme-white);
  font-size: var(--small-font-size);
  margin: auto;
}

div#setting-views {
  display: flex;
  flex: 3;
  overflow-y: auto;
}

div#setting-views div.setting-view {
  margin-top: var(--default-space);
  min-width: 100%;
}

div#settings {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

div.option-item {
  display: flex;
  height: 1.8rem;
  padding: 0.625rem;
  background-color: var(--theme-white);
  border-bottom: 1px solid var(--theme-gray);
}

div.option-item.combo:after {
  content: "";
  background-image: url("../assets/images/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 0.625rem;
  background-position: center;
  width: 0.75rem;
  margin-left: 0.5rem;
}

div.option-item.activable:active {
  background-color: var(--theme-light-gray);
}

div.option-item.activable[disabled] {
  color: var(--theme-gray);
}

div.option-item.option object {
  width: 1rem;
}

div.option-item span.title {
  flex: 1;
  margin: auto 0 !important;
}

div.option-item span {
  margin: auto;
}

div.option-item input {
  margin: auto;
}

div.empty-item {
  padding: 0.625rem;
  background-color: transparent;
  height: 1.25rem;
}

input#alarm-time {
  margin-right: var(--default-space);
  color: var(--font-color-default);
}

div.mail-card {
  display: grid;
  justify-items: end;
}

div.mail-card a {
  color: var(--theme-white);
  font-size: var(--medium-font-size);
  text-decoration: none;
}
